.navbar {
  position: relative;
  padding: 0px 20px;
}

.h1, h1 {
  font-size: 2.6rem;
  font-weight: 600;
}

.h2, h2 {
  font-size: 2rem;
  font-weight: 600;
}

.h3, h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.h4, h4 {
  font-size: 1.125rem;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'Work Sans', Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 5rem;
  border-top-right-radius: .3rem;
}

#form .jumbotron {
  margin-bottom: 0rem;
  border-radius: 0rem;
  max-width: 560px;
  z-index: 1000;
  padding: 20px 30px;
}

p {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.container-fluid {
  position: relative;
  padding: 90px 60px;
}

@media (min-width: 768px) {
  body {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .h1, h1 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .h2, h2 {
    font-size: 3.4rem;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .h3, h3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .h4, h4 {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  #form .jumbotron {
    border-radius: 2rem;
  }
}

.btn-primary {
  color: #fff;
  background-color: inherit;
  border-color: transparent;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(44,44,44);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(44,44,44,0.7);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  position: relative;
  width: 100%;
  padding: 6px;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin: 6rem auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.2rem;
  line-height: 1.4;
}

.row {
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*-ms-flex-wrap: wrap;*/
  /*flex-wrap: wrap;*/
  margin-right: -20px;
  margin-left: -20px;
}

.carousel-inner {
  position: relative;
  height: 100%;
  width: auto;
  overflow: hidden;
}

.carousel-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #2c2c2c;
  text-align: center;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity .15s ease;
}

